.web-1920-2-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffe1c7;
  width: 390px;
  height: 100%;
}
.data-donwload,
.lorem-ipsum-dolor,
.lorem-ipsum-dolor1,
.lorem-ipsum-dolor2 {
  margin: 0;
  position: absolute;
  left: 454px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.data-donwload {
  top: 37px;
  font-size: 59px;
  width: 802px;
}
.lorem-ipsum-dolor,
.lorem-ipsum-dolor1,
.lorem-ipsum-dolor2 {
  top: 125px;
  font-size: var(--font-size-xl);
  width: 467px;
  height: 314px;
}
.lorem-ipsum-dolor1,
.lorem-ipsum-dolor2 {
  top: 515px;
  height: 168px;
}
.lorem-ipsum-dolor2 {
  top: 774px;
  width: 446px;
  height: 76px;
}
.licence {
  top: 448px;
  left: 454px;
  width: 536px;
}
.ciatation,
.data,
.licence {
  margin: 0;
  position: absolute;
  font-size: var(--font-size-16xl);
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.ciatation {
  top: 707px;
  left: 454px;
  width: 389px;
}
.data {
  top: 448px;
  left: 50%;
  width: 802px;
}
.data-donwload1,
.download,
.learnmore,
.map,
.methods,
.new-picture-of,
.urban-data-research {
  margin: 0;
  position: absolute;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.data-donwload1 {
  bottom: 24px;
  left: 37px;
  width: 328px;
  height: 38px;
}
.download,
.learnmore,
.map,
.methods,
.new-picture-of,
.urban-data-research {
  top: 11px;
  left: 19px;
  width: 346px;
}
.new-picture-of
{

  text-align: right;
}
.download,
.learnmore,
.map,
.methods,
.urban-data-research {
  top: 48px;
  text-align: right;
}
.download,
.learnmore,
.methods,
.urban-data-research {
  top: 85px;
}
.download,
.learnmore,
.urban-data-research {
  top: 122px;
}
.learnmore,
.urban-data-research {
  top: 159px;
}
.urban-data-research {
  top: 196px;
}
.image-2,
.web-1920-2-item {
  cursor: pointer;
  padding: 0;
  position: absolute;
}
.image-2 {
  border: 0;
  background-color: transparent;
  left: 50%;
  bottom: 22px;
  width: 910px;
  height: 536px;
  background-image: url(./us.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.web-1920-2-item {
  border: 1px solid var(--color-dimgray);
  background-color: var(--color-white);
  top: 707px;
  right: 36px;
  border-radius: var(--br-4xs);
  box-sizing: border-box;
  width: 63px;
  height: 25px;
}
.web-1920-2-inner {
  top: 504px;
  left: 50%;
}
.rectangle-button,
.web-1920-2-child1,
.web-1920-2-inner {
  cursor: pointer;
  border: 1px solid var(--color-dimgray);
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  border-radius: var(--br-4xs);
  box-sizing: border-box;
  width: 63px;
  height: 25px;
}
.rectangle-button {
  top: 504px;
  left: 53.5%;
}
.web-1920-2-child1 {
  top: 742px;
  right: 36px;
}
.web-1920-2-child2 {
  background-color: var(--color-white);
  top: 777px;
}
.web-1920-2-child2,
.web-1920-2-child3,
.web-1920-2-child4 {
  cursor: pointer;
  border: 1px solid var(--color-dimgray);
  padding: 0;
  position: absolute;
  right: 36px;
  border-radius: var(--br-4xs);
  box-sizing: border-box;
  width: 63px;
  height: 25px;
}
.web-1920-2-child3 {
  background-color: var(--color-white);
  top: 812px;
}
.web-1920-2-child4 {
  top: 847px;
}
.web-1920-2,
.web-1920-2-child4,
.web-1920-2-child5 {
  background-color: var(--color-white);
}
.web-1920-2-child5 {
  cursor: pointer;
  border: 1px solid var(--color-dimgray);
  padding: 0;
  position: absolute;
  right: 36px;
  bottom: 173px;
  border-radius: var(--br-4xs);
  box-sizing: border-box;
  width: 63px;
  height: 25px;
}
.web-1920-2 {
  position: relative;
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-rosybrown);
  font-family: var(--font-poppins);
}
