@font-face {
  font-family: 'EduDiatypeRounded';
  src: url('font/Edu Diatype Rounded Semi-Mono/EduDiatypeRoundedSemi-Mono-Regular.otf') format('opentype');
}
body {
        margin: 0;
        padding: 0;
        color: 'pink';
        font-size: 13px;
        font-family: 'EduDiatypeRounded', Arial, sans-serif;
      }
body * {
   -webkit-touch-callout: none;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
}
h3 {
  font-size: 17px;
   /* You can adjust the value to your desired padding size */
}
h4 {
  padding: 0px 0px 5px 0px; /* You can adjust the value to your desired padding size */
  font-size: 15px;
  text-align: left
}
h5 {
  font-size: 12px;
  padding: 0px 0px 5px 0px;
  text-align: justify;
  text-align-last: left;
}
* {box-sizing: border-box;}

.web-1920-2-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #A5DEE4;
  width: 20.31%; /* 390px / 1920px */
  height: 100%;
}
a{
  color: black;
   text-decoration: none;
}


.title{
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 0px 0px 0px 15px;
  width: 100%;
  height: 60px;
  z-index: 8;
  background-color: #A5DEE4;
  color: #1C2526;
  border: none;
  display: flex;
  align-items: center;
  font-family: 'EduDiatypeRounded', Arial, sans-serif;
}

.my-button{
    position: fixed;
    right: 0%;
    top: 0px;
    padding: 0px 0px 0px 15px;
    width: 400px;
    height: 60px;
    z-index: 8;
    /* background-color: #A5DEE4; */
    color: #1C2526;
    border: none;
    display: flex;
    align-items: center;
    font-family: 'EduDiatypeRounded', Arial, sans-serif;
    justify-content: space-evenly;


}

.leftpanel  {
  width: 100%;
  position: fixed;
  z-index: 4;
  padding: 15%;
  height: 100%;
  top: 60px;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5px;
  font-family: 
}



table {
    border-collapse: collapse;
    width: 100%;
    margin: 0px 0px 5px 0px;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
   font-size: 12px
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


