
body {
        margin: 0;
        padding: 0;
        color: 'pink';
        font-size: 13px;
        font-family: 'Barlow Condensed', sans-serif;
      }
body * {
   -webkit-touch-callout: none;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
}

* {box-sizing: border-box;}

.dimmerwrapper{
  height:100%;
  width: 100%;
}
a{
  color: #ff3700;
}


/*.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 72%;
}*/

.dimmer{ 
  /*background-color: rgba(255,0,0,0.8);*/

background: repeating-linear-gradient(-45deg,        #ff0000,   #ff0000 5px,   #ff2b2b 5px,   #ff2b2b 10px);
/*background: repeating-linear-gradient(-45deg,           #672525,   #672525 3px,   #ff1d1d 3px,   #ff1d1d 30px);*/
  opacity: .80 !important; 
}
/*Intro Segment*/
.introSegment{
  /*position: absolute;*/
  overflow-y:auto;
  /*top: -25%;*/
  width: 50% !important;
}
.introHeader{
  color:white !important;
  font-size: 15px;
  font-family: 'Barlow Condensed', sans-serif;
}
.introButton{
  background:white !important;
}

body{
  background: #f2f2f2;
  font-family: 'Barlow Condensed', sans-serif;
}

#searchBar {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1px solid lightgray;
  border-right: none;
  padding: 10px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid lightgray;
  background: white;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.ui.fluid.search.selection.dropdown {
  width: 100%;
  border: 1px solid lightgray;

  padding: 10px;
  height: 36px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: black;
}

#map {
    height:100%;
    width:100%;
}   




}
.popup{
  cursor-events: none
}

/*#menucontainer{
  width: 30%;
}*/


#info {
  position: absolute;
  left: 0;
  top:7%;
  background: #fff;
  height: 93%;
  bottom: 0;
  padding: 15px;
  width: 340px;
  z-index: 1; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
  font-family: 'Barlow Condensed', sans-serif;


}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 4;
  height: 93%;
  top: 7%;
  left: 0;
  background-color: lightgray;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5px;
  font-family: 'Barlow Condensed', sans-serif;
}

.sidepanel a {
  padding: 8px 8px 8px 14px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}



.openbtn {
  position: absolute;
  left: 290px;
  top:0;
  font-size: 20px;
  width: 50px;
  height: 7%;
  z-index: 3;
  cursor: pointer;
  background-color: lightgray;
  color: white;
  /*padding: 10px 15px;*/
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  position: absolute;
  left: 0px;
  top:0;
  font-size: 20px;
  width: 290px;
  height: 7%;
  z-index: 3;
  background-color: lightgray;
  color: white;
  padding: 15px;
  border: none;
  display: flex;
  align-items: center;
  font-family: 'Barlow Condensed', sans-serif;

}

.openbtn:hover {
  background-color:#444;
}
