@font-face {
  font-family: 'EduDiatypeRounded';
  src: url('font/Edu Diatype Rounded Semi-Mono/EduDiatypeRoundedSemi-Mono-Regular.otf') format('opentype');
}
body {
        margin: 0;
        padding: 0;
        color: 'pink';
        font-size: 13px;
        font-family: 'EduDiatypeRounded', Arial, sans-serif;
      }
body * {
   -webkit-touch-callout: none;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
}

* {box-sizing: border-box;}

.dimmerwrapper{
  height:100%;
  width: 100%;
}
a{
  color: black;
}

h3 {
/*  font-size: 2em;*/
  /*padding: 5px 0px 0px 0px;*/
/*  text-align: left /* You can adjust the value to your desired padding size */*/
}


/*.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 72%;
}*/

.dimmer{ 
  /*background-color: rgba(255,0,0,0.8);*/

background: repeating-linear-gradient(-45deg,        #ff0000,   #ff0000 5px,   #ff2b2b 5px,   #ff2b2b 10px);
/*background: repeating-linear-gradient(-45deg,           #672525,   #672525 3px,   #ff1d1d 3px,   #ff1d1d 30px);*/
  opacity: .80 !important; 
}
/*Intro Segment*/
.introSegment{
  /*position: absolute;*/
  overflow-y:auto;
  /*top: -25%;*/
  width: 50% !important;
}
.introHeader{
  color:white !important;
  font-size: 15px;
  font-family: 'EduDiatypeRounded', Arial, sans-serif;
}
.introButton{
  background:white !important;
}

body{
  background: #f2f2f2;
  font-family: 'EduDiatypeRounded', Arial, sans-serif;
}

/* searchbar */


/*
.search {

  display: flex;
  flex-direction: row;
}
*/
.factors {
   font-size: 10px;
   width:fit-content;
  /*padding: 5px 0px 0px 0px;*/
  text-align: right /* You can adjust the value to your desired padding size */
}
#my-container{
/*  width:100%;*/
  position: relative;
/*  top: calc(0.1vw + 36px);*/
  left: calc(100vw - 700px);
/*  height:100%;*/
/*  top: vw;*/
/*  right: 100vw;*/
/*  left: calc(100vw - 390px);*/
/*  margin-right:30px;*/
}

#my-input {
  width: 270px;
  border: 1px solid #A5DEE4;
/*  border-right: none;*/
  
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black; 
  display: flex;
  
}

.mapboxgl-popup {
max-width: 400px;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#my-result-container {
/*  border: 1px solid # A5DEE4;*/
  border-right: none;
/*  position: relative;*/
  top: calc(0.1vw + 36px);
  left: calc(100vw - 700px);

}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #A5DEE4;
  background: white;
  text-align: center;
/*  position: relative;*/
  top: 0.1vw;
  left: calc(100vw - 390px);
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.ui.fluid.search.selection.dropdown {
  width: 100%;
  border: 1px solid #A5DEE4;
  padding: 10px;
  height: 36px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: black;
}

#map {
  position:fixed;
  right: 0px;
/*  top: 60px;*/
/*  height:calc(100% - 60px);*/
  height:100%;
  width:calc(100% - 340px);
}   


.popup{
  cursor-events: none
}

/*#menucontainer{
  width: 30%;
}*/

.menu{
    font-family: 'EduDiatypeRounded', Arial, sans-serif;

}

#info {
  position: fixed;
  left: 0px;
  /*left:0px;
  top:60px;*/
  background: #fff;
/*  height: calc(100% - 60px);*/
  height:100%;
/*  bottom: 0px;*/
  padding: 15px;
  width: 340px;
  z-index: 1; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
  font-family: 'EduDiatypeRounded', Arial, sans-serif;


}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 4;
  height: 7.5%;
  top: 0;
  left: 0;
  background-color: #A5DEE4;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5px;
  font-family: 
}

.sidepanel a {
  padding: 8px 75px 5px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #1C2526;
  display: block;
  transition: 0.3s;
  text-align: left;
}

.sidepanel a:hover {
  color: #f1f1f1;
}



.openbtn {
  position: absolute;
  left: 290px;
  top:0;
  font-size: 20px;
  width: 50px;
  height: 50px;
  z-index: 3;
  cursor: pointer;
  background-color: #A5DEE4;
  color: #1C2526;
  /*padding: 10px 15px;*/
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menutitle{
  background-color: #A5DEE4 !important;
  font-family: 'EduDiatypeRounded', Arial, sans-serif;
  z-index: 8;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-bottom: 0px !important;
/*  padding-top: 1%;*/
  padding-block: .75%;
  height: 5%;
}
/*
.title{
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 0px 0px 0px 15px;
  width: 100%;
  height: 60px;
  z-index: 8;
  background-color: #A5DEE4 !important;
  color: #1C2526;
  border: none;
  display: flex;
  align-items: center;
  font-family: 'EduDiatypeRounded', Arial, sans-serif;
}*/

.my-button{
    position: fixed;
    right: 0%;
    top: 0px;
    /*padding: 0px 0px 0px 15px;*/
    width: 400px;
    height: 60px;
    z-index: 8;
    /* background-color: #A5DEE4; */
    color: #1C2526;
    border: none;
    display: flex;
    align-items: center;
    font-family: 'EduDiatypeRounded', Arial, sans-serif;
    justify-content: flex-end;
     margin-right: 10px;


}

.my-button a {
    margin-right: 10px; /* Add right margin to create space between buttons */
}

.openbtn:hover {
  background-color:#444;
}

.hatch-pattern {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, #000 5px, #000 10px);
  background-size: 10px 10px; /* Adjust the size and spacing of the hatch lines */
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 13px;
  font-family: 'EduDiatypeRounded', Arial, sans-serif;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
  padding: 0;
  display: none;
  overflow: hidden;
  background-color: white;
}

.popupIntro{
    background-color: #ffffff;
    width: 600px;
    padding: 30px 50px 20px 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
    z-index: 2;
}



.popupIntro p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
    
}

.popupIntro button{
    display: block;
    width: 100px;
    position: relative;
    margin: 5px auto;
    border-radius: 8px;
    text-align: center;
    background-color: #A5DEE4;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 0;
    cursor: pointer;
    border-width: 0px; /* Adjust this value as needed */
       border-style: solid; /* Ensures the border is displayed */
}

.popupIntro img {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 8px; /* Apply border radius to the image if needed */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark gray background with opacity */
    display: none; /* Initially hidden */
    z-index: 1;
}

img.logo {
  /* Change color */
  fill: #000000; /* For SVG images that use the fill attribute */
  /* Adjust size */

  width: 100px; /* Set the width */
  height: 100px; /* Set the height */
  /* Additional styles as needed */
}