@font-face {
  font-family: 'EduDiatypeRounded';
  src: url('font/Edu Diatype Rounded Semi-Mono/EduDiatypeRoundedSemi-Mono-Regular.otf') format('opentype');
}
body {
        margin: 0;
        padding: 0;
        color: 'pink';
        font-size: 13px;
        font-family: 'EduDiatypeRounded', Arial, sans-serif;
      }
body * {
   -webkit-touch-callout: none;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
}

* {box-sizing: border-box;}

.dimmerwrapper{
  height:100%;
  width: 100%;
}
a{
  color: black;
}

h3 {
  font-size: 17px;
  /*padding: 5px 0px 0px 0px;*/
  text-align: left /* You can adjust the value to your desired padding size */
}


/*.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 72%;
}*/

.dimmer{ 
  /*background-color: rgba(255,0,0,0.8);*/

background: repeating-linear-gradient(-45deg,        #ff0000,   #ff0000 5px,   #ff2b2b 5px,   #ff2b2b 10px);
/*background: repeating-linear-gradient(-45deg,           #672525,   #672525 3px,   #ff1d1d 3px,   #ff1d1d 30px);*/
  opacity: .80 !important; 
}
/*Intro Segment*/
.introSegment{
  /*position: absolute;*/
  overflow-y:auto;
  /*top: -25%;*/
  width: 50% !important;
}
.introHeader{
  color:white !important;
  font-size: 15px;
  font-family: 'EduDiatypeRounded', Arial, sans-serif;
}
.introButton{
  background:white !important;
}

body{
  background: #f2f2f2;
  font-family: 'EduDiatypeRounded', Arial, sans-serif;
}

/* searchbar */



.search {

  display: flex;
  flex-direction: row;
}

.factors {
   font-size: 10px;
  /*padding: 5px 0px 0px 0px;*/
  text-align: right /* You can adjust the value to your desired padding size */
}

#my-input {
  width: 270px;
  border: 1px solid #A5DEE4;
  border-right: none;
  position: relative;
  top: 0.1vw;
  left: calc(100vw - 390px);
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black; 
  display: flex;
}

.mapboxgl-popup {
max-width: 400px;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#my-result-container {
  border: 1px solid #A5DEE4;
  border-right: none;
  position: relative;
  top: calc(0.1vw + 36px);
  left: calc(100vw - 700px);

}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #A5DEE4;
  background: white;
  text-align: center;
  position: relative;
  top: 0.1vw;
  left: calc(100vw - 390px);
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.ui.fluid.search.selection.dropdown {
  width: 100%;
  border: 1px solid #A5DEE4;
  padding: 10px;
  height: 36px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: black;
}

#map {
  top: 60px;
    height:calc(100% - 60px);
    width:100%;
}   

}
.popup{
  cursor-events: none
}

/*#menucontainer{
  width: 30%;
}*/


#info {
  position: absolute;
  left:0px;
  top:60px;
  background: #fff;
  height: calc(100% - 60px);
  bottom: 0px;
  padding: 0px 15px 5px 15px;
  width: 340px;
  z-index: 1; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
  font-family: 'EduDiatypeRounded', Arial, sans-serif;


}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 4;
  height: 7.5%;
  top: 0;
  left: 0;
  background-color: #A5DEE4;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5px;
  font-family: 
}

.sidepanel a {
  padding: 8px 75px 5px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #1C2526;
  display: block;
  transition: 0.3s;
  text-align: left;
}

.sidepanel a:hover {
  color: #f1f1f1;
}



.openbtn {
  position: absolute;
  left: 290px;
  top:0;
  font-size: 20px;
  width: 50px;
  height: 50px;
  z-index: 3;
  cursor: pointer;
  background-color: #A5DEE4;
  color: #1C2526;
  /*padding: 10px 15px;*/
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 0px 0px 0px 15px;
  width: 100%;
  height: 60px;
  z-index: 8;
  background-color: #A5DEE4;
  color: #1C2526;
  border: none;
  display: flex;
  align-items: center;
  font-family: 'EduDiatypeRounded', Arial, sans-serif;
}

.my-button{
    position: fixed;
    right: 0%;
    top: 0px;
    padding: 0px 0px 0px 15px;
    width: 400px;
    height: 60px;
    z-index: 8;
    /* background-color: #A5DEE4; */
    color: #1C2526;
    border: none;
    display: flex;
    align-items: center;
    font-family: 'EduDiatypeRounded', Arial, sans-serif;
    justify-content: space-evenly;


}

.openbtn:hover {
  background-color:#444;
}

.hatch-pattern {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, #000 5px, #000 10px);
  background-size: 10px 10px; /* Adjust the size and spacing of the hatch lines */
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 13px;
  font-family: 'EduDiatypeRounded', Arial, sans-serif;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
  padding: 0;
  display: none;
  overflow: hidden;
  background-color: white;
}