@font-face {
  font-family: Helvetica, Arial, sans-serif;
  }
body {
        margin: 0;
        padding: 0;
        font-size: 13px;
        font-family: Helvetica, Arial, sans-serif;
        background: #f2f2f2;
      }
body * {
   -webkit-touch-callout: none;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
}

* {box-sizing: border-box;}

.dimmerwrapper{
  height:100%;
  width: 100%;
}

div::-webkit-scrollbar{
  width: 4px;
}
div::-webkit-scrollbar-track{
  background: transparent;
}
div::-webkit-scrollbar-thumb{
  background: rgba(0,0,0,0.15);
  border-radius: 2px;
}
div::-webkit-scrollbar-thumb:hover{
  background: rgba(0,0,0,0.3);
}






h2 {
  font-size: 1.8em;
  font-weight: 400;
  text-align: left;
  margin: 0em !important;
    font-family: Helvetica, Arial, sans-serif !important;
}


a {
  font-size: 1.1em !important;
  text-align: left;
  color: white !important;
  writing-mode: vertical-rl;
}
h5 {
  margin: 1em 0em 1em 0em !important;
  font-family: Helvetica, Arial, sans-serif;

}


/* CSS code for h6 heading */
h6 {
    margin: 0em 0em 0em 0em !important;
    font-size: 1em; /* Adjust the font size as needed */
    color: #555; /* Optionally, adjust the color */
    font-family: Helvetica, Arial, sans-serif;
    line-height: 18px;
}

.subheading {
    margin: 0em 0em 0em 0em;
    font-size: 0.8em;
    color: #555;
    font-family: Helvetica, Arial, sans-serif;
}

/*.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 72%;
}*/

.dimmer{ 
  /*background-color: rgba(255,0,0,0.8);*/

background: repeating-linear-gradient(-45deg,        #ff0000,   #ff0000 5px,   #ff2b2b 5px,   #ff2b2b 10px);
/*background: repeating-linear-gradient(-45deg,           #672525,   #672525 3px,   #ff1d1d 3px,   #ff1d1d 30px);*/
  opacity: .80 !important; 
}
/*Intro Segment*/
.introSegment{
  /*position: absolute;*/
  overflow-y:auto;
  /*top: -25%;*/
  width: 50% !important;
}
.introHeader{
  color:white !important;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
}
.introButton{
  background:white !important;
}

/* searchbar */


/*
.search {

  display: flex;
  flex-direction: row;
}
*/
.factors {
   font-size: 1em;
   width:fit-content;
  /*padding: 5px 0px 0px 0px;*/
  text-align: right /* You can adjust the value to your desired padding size */
}
#my-container{
/*  width:100%;*/
/*  position: relative;*/
/*  top: calc(0.1vw + 36px);*/
/*  left: calc(100vw - 700px);*/
  z-index: 100;
/*  height:100%;*/
/*  top: vw;*/
/*  right: 100vw;*/
/*  left: calc(100vw - 390px);*/
/*  margin-right:30px;*/
}

#my-input {
  width: 270px;
  border: 1px solid lightgray;
/*  border-right: none;*/

  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black; 
  display: flex;
  
}



#my-result-container {
/*  border: 1px solid # 2974f9;*/
  border-right: none;
  position: relative;
    z-index: 100;
    display: block;
    border: none;
    width: 19.2rem;

 /* top: calc(0.1vw + 36px);
  left: calc(100vw - 700px);*/

}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #2563eb;
  background: white;
  text-align: center;
/*  position: relative;*/
  top: 0.1vw;
  left: calc(100vw - 390px);
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.ui.fluid.search.selection.dropdown {
  width: 100%;
  border: 1px solid lightgray;
  padding: 10px;
  height: 36px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: black;
}

.ui.fluid.search.selection.dropdown.active.visible {
  border-color: #d3d3d3 !important;
}


#map {
  position:fixed;
  right: 0px;
/*  top: 60px;*/
/*  height:calc(100% - 60px);*/
  height:100%;
  width:calc(100% - 5rem);
}   


.popup{
  pointer-events: none;
}

/*#menucontainer{
  width: 30%;
}*/

.menu{
    font-family: Helvetica, Arial, sans-serif;

}



#info {
  position: fixed;
  left:5rem;
/*  border-right: 1px solid lightgray;*/
  /*left:0px;
  top:60px;*/
  background: rgba(255, 255, 255, 0.8);
/*  height: calc(100% - 60px);*/
  height:100%;
/*  bottom: 0px;*/
  padding:  15px 15px 100px 15px;
  width: 340px;
  z-index: 1; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
  font-family: Helvetica, Arial, sans-serif !important;
  backdrop-filter: saturate(40%) blur(20px);
  box-shadow: 2px 0 8px rgba(0,0,0,0.05);
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 4;
  height: 7.5%;
  top: 0;
  left: 0;
  background-color: #2563eb;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5px;
  font-family: 
}

.sidepanel a {
  padding: 8px 75px 5px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #1C2526;
  display: block;
  transition: 0.3s;
  text-align: left;
}

.sidepanel a:hover {
  color: #f1f1f1;
}



.openbtn {
  position: absolute;
  left: 290px;
  top:0;
  font-size: 20px;
  width: 50px;
  height: 50px;
  z-index: 3;
  cursor: pointer;
  background-color: #2563eb;
  color: #1C2526;
  /*padding: 10px 15px;*/
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.menutitle{
  background-color: #2563eb !important;
  border-right: 0.1px solid lightgray !important;
  position: fixed;
  font-family: Helvetica, Arial, sans-serif;
  display: flex !important;
  z-index: 8!important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-bottom: 0px !important;
  height: 100%;

  width: 5rem !important;
  align-items: flex-end;
}
.menutitle > * {
  margin: 3rem 1.25rem 1rem 0 !important; /* Adjust the value as needed */
}
/* CSS for the icon */
#icons{
    position: fixed;
    font-family: Helvetica, Arial, sans-serif;
    display: flex !important;
    z-index: 8!important;
    left: 0rem;
    height: 40%;
    bottom: -2.5rem !important;
    width: 5rem !important;
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: nowrap;

}
#icons a {
  margin-top: 6rem;
  margin-bottom: 0rem;
  transform: rotate(270deg);
  filter: brightness(0) invert(1);
}
#icons #ucsbLink {
  position: fixed;
  left: 0;
  top: 50%;
  width: 5rem;
  margin: 0;
  transform: translateY(-50%) rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightmenu{
  align-items: center;
}
/*
.title{
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 0px 0px 0px 15px;
  width: 100%;
  height: 60px;
  z-index: 8;
  background-color: #2563eb !important;
  color: #1C2526;
  border: none;
  display: flex;
  align-items: center;
  font-family: 'EduDiatypeRounded', Arial, sans-serif;
}*/



.my-button a {
    margin-right: 10px; /* Add right margin to create space between buttons */
}

.openbtn:hover {
  background-color:#444;
}

.hatch-pattern {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, #000 5px, #000 10px);
  background-size: 10px 10px; /* Adjust the size and spacing of the hatch lines */
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
  padding: 0;
  display: none;
  overflow: hidden;
  background-color: white;
}

.popupIntro{
    background-color: #ffffff;
    width: 600px;
    padding: 30px 50px 20px 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: Helvetica, Arial, sans-serif;
    display: none;
    text-align: center;
    z-index: 2;
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
}



.popupIntro p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
    
}

.popupIntro button{
    display: block;
    width: 130px;
    position: relative;
    margin: 5px auto;
    border-radius: 8px;
    text-align: center;
    background-color: #2563eb;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 0;
    cursor: pointer;
    border-width: 0px; /* Adjust this value as needed */
       border-style: solid; /* Ensures the border is displayed */
}

.popupIntro img {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 8px; /* Apply border radius to the image if needed */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark gray background with opacity */
    display: none; /* Initially hidden */
    z-index: 1;
}

img.logo {
  /* Change color */
  fill: #000000; /* For SVG images that use the fill attribute */
  /* Adjust size */

  width: 80%; /* Set the width */
  /* Additional styles as needed */
}


#logoContainer {
  position: fixed;
  display: flex; 
  left: 0px;
  top:95%;
  background: #fff;
/*  height: calc(100% - 60px);*/
  height: 10%;
/*  bottom: 0px;*/
  padding: 15px 0px 0px 15px;
  width: 340px;
  z-index: 1; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
  justify-content: space-around;
  font-family: Helvetica, Arial, sans-serif;
  border-right: 1px solid gray;


}
.infoSegment{
  z-index: 100;
  width:70%;
  height: 70%;
  left: 15%;
  right: 10%;
  top:10%;
  overflow-y: scroll;
  margin: 0 !important;
  background-color: white !important;
  opacity: 0.9;
}


table {
    border-collapse: collapse;
    width: 100%;
    margin: 0px 0px 5px 0px;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
   font-size: 12px
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


.leftpanel  {
  width: 100%;
  position: fixed;
  z-index: 4;
  padding: 15%;
  height: 100%;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3rem;
  font-family: 
}


.census-grid.ui.grid > .row {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}




#functions {
    background-color: rgba(255, 255, 255, 0.8); !important;
    position: fixed;
    left: calc(5rem + 340px + 2rem);
    bottom: 0.7rem;
    border-radius: 10px;
    display: flex;
    padding: 8.7px;
    flex-direction: column;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1; 
    transform: translateY(0);
    backdrop-filter: saturate(100%) blur(10px)
}
.first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.second-row {
    display: inline-flex;
    margin-top: 10px; /* Adjust as needed */
}

.axisWhite line{
  stroke: #555;
}

.axisWhite path{
  stroke: rgba(255, 255, 255, 0);
}

#slider-1{
  width: 97%;
  padding: 6px 14px 0px 15px;
}

#tgl{
width: 110px;

}

    .ui.tiny.toggle.button.weekday {
        background-color: white; /* Blue color for weekday */
        color: rgba(0, 0, 0, .6); /* White text color */
    }
    .ui.tiny.toggle.button.weekend {
        background-color: rgb(191, 219, 254); /* Green color for weekend */
        color: rgba(0, 0, 0, .6); /* White text color */
    }

#intervalButton{
  padding: 0px 0px 0px 5px;
}

#weekDayEndButton{
padding: 0px 3px 0px 0px;
    width: 265px;
}

#dowButton{
  padding: 0px 0px 0px 2px;
}

#styleButton{
  padding: 0px 7px 0px 0px;
      width: 268px
}

.ui.button{
  background: white;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.ui.button:hover {
  background-color: rgb(191, 219, 254);
  color: #1a1a2e;
}

.maplibregl-popup-content
{
  backdrop-filter: saturate(100%) blur(10px) !important;
  background: rgba(255, 255, 255, 0.7) !important;
  line-height: 10px !important; 
  padding: 12px 15px 12px 13px !important;
  max-width: 300px !important;
  border-radius: 10px !important;
}

.maplibregl-popup.mapboxgl-popup.maplibregl-popup-anchor-bottom.mapboxgl-popup-anchor-bottom{
  max-width: 300px !important;
}


.maplibregl-popup-tip {
    display: none;
}

.ui.basic.active.button {
    background-color: rgb(29, 78, 216);
    background-image: none;
    box-shadow: 0 0 0 1px transparent inset;
    color: rgba(255, 255, 255, .95);
}


  .ui.basic.active.button:hover {
  background-color: rgb(191, 219, 254);
  color: #1a1a2e;
}

.ui.slider .inner .track-fill {
    position: absolute;
    border-radius: 4px;
    background-color: rgb(191, 219, 254);
}

#weekendButton,
#weekdayButton,
#mapStyle1,
#mapStyle2 {
  width: 72px;
  height: 30px;
}

#morningButton,
#afternoonButton,
#eveningButton,
#lateEveningButton,
#lateNightButton {
  width: 72px;
  height: 30px;
}