
body {
        margin: 0;
        padding: 0;
        color: 'pink';
        font-size: 13px;
      }
body * {
   -webkit-touch-callout: none;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
}


.dimmerwrapper{
  height:100%;
  width: 100%;
}
a{
  color: #ff3700;
}


/*.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 72%;
}*/

.dimmer{ 
  /*background-color: rgba(255,0,0,0.8);*/

background: repeating-linear-gradient(-45deg,        #ff0000,   #ff0000 5px,   #ff2b2b 5px,   #ff2b2b 10px);
/*background: repeating-linear-gradient(-45deg,           #672525,   #672525 3px,   #ff1d1d 3px,   #ff1d1d 30px);*/
  opacity: .80 !important; 
}
/*Intro Segment*/
.introSegment{
  /*position: absolute;*/
  overflow-y:auto;
  /*top: -25%;*/
  width: 50% !important;
}
.introHeader{
  color:white !important;
  font-size: 15px;
}
.introButton{
  background:white !important;
}

#searchBar {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 50px;
      z-index: 1;
    }

#map {
    height:100%;
    width:100%;
}   




}
.popup{
  cursor-events: none
}

/*#menucontainer{
  width: 30%;
}*/


#info {
  position: absolute;
  left: 0;
  top:5%;
  background: #fff;
  height: 95%;
  bottom: 0;
  padding: 15px;
  width: 340px;
  z-index: 1; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
  font-family: 'Open Sans', sans-serif;

}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 4;
  height: 340px;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  width: 340px;
  position: fixed;
  z-index: 3;
  height: 50px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}
