@font-face {
  font-family: 'Lato';
  }
body {
        margin: 0;
        padding: 0;
        color: 'pink';
        font-size: 13px;
        font-family: 'Lato', Arial, sans-serif;
      }
body * {
   -webkit-touch-callout: none;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
}

* {box-sizing: border-box;}

.dimmerwrapper{
  height:100%;
  width: 100%;
}

div::-webkit-scrollbar{
  display: none;

}






h2 {
  font-size: 1.8em;
  text-align: left;
  margin: 0em !important;
    font-family: 'Lato' !important;
}


a {
  font-size: 1.1em !important;
  text-align: left;
  color: white !important;
  writing-mode: vertical-rl;
}
h5 {
  margin: 1em 0em 1em 0em !important;
  font-family: 'Lato';
}


/*.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 72%;
}*/

.dimmer{ 
  /*background-color: rgba(255,0,0,0.8);*/

background: repeating-linear-gradient(-45deg,        #ff0000,   #ff0000 5px,   #ff2b2b 5px,   #ff2b2b 10px);
/*background: repeating-linear-gradient(-45deg,           #672525,   #672525 3px,   #ff1d1d 3px,   #ff1d1d 30px);*/
  opacity: .80 !important; 
}
/*Intro Segment*/
.introSegment{
  /*position: absolute;*/
  overflow-y:auto;
  /*top: -25%;*/
  width: 50% !important;
}
.introHeader{
  color:white !important;
  font-size: 15px;
  font-family: 'Lato', Arial, sans-serif;
}
.introButton{
  background:white !important;
}

body{
  background: #f2f2f2;
  font-family: 'Lato', Arial, sans-serif;
}

/* searchbar */


/*
.search {

  display: flex;
  flex-direction: row;
}
*/
.factors {
   font-size: 1em;
   width:fit-content;
  /*padding: 5px 0px 0px 0px;*/
  text-align: right /* You can adjust the value to your desired padding size */
}
#my-container{
/*  width:100%;*/
/*  position: relative;*/
/*  top: calc(0.1vw + 36px);*/
/*  left: calc(100vw - 700px);*/
  z-index: 100;
/*  height:100%;*/
/*  top: vw;*/
/*  right: 100vw;*/
/*  left: calc(100vw - 390px);*/
/*  margin-right:30px;*/
}

#my-input {
  width: 270px;
  border: 1px solid #lightgray;
/*  border-right: none;*/
  
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black; 
  display: flex;
  
}

.maplibregl-popup {
max-width: 500px;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#my-result-container {
/*  border: 1px solid # f97c29;*/
  border-right: none;
  position: relative;
    z-index: 100;
    display: block;
    border: none;
    width: 19.2rem;

 /* top: calc(0.1vw + 36px);
  left: calc(100vw - 700px);*/

}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #f97c29;
  background: white;
  text-align: center;
/*  position: relative;*/
  top: 0.1vw;
  left: calc(100vw - 390px);
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.ui.fluid.search.selection.dropdown {
  width: 100%;
  border: 1px solid #lightgray;
  padding: 10px;
  height: 36px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: black;
}

#map {
  position:fixed;
  right: 0px;
/*  top: 60px;*/
/*  height:calc(100% - 60px);*/
  height:100%;
  width:calc(100% - 340px - 5rem);
}   


.popup{
  cursor-events: none
}

/*#menucontainer{
  width: 30%;
}*/

.menu{
    font-family: 'Lato', Arial, sans-serif;

}

#info {
  position: fixed;
  left:5rem;
  border-right: 1px solid lightgray;
  /*left:0px;
  top:60px;*/
  background: #fff;
/*  height: calc(100% - 60px);*/
  height:100%;
/*  bottom: 0px;*/
  padding:  15px 15px 100px 15px;
  width: 340px;
  z-index: 1; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
  font-family: Lato !important; 


}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 4;
  height: 7.5%;
  top: 0;
  left: 0;
  background-color: #f97c29;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5px;
  font-family: 
}

.sidepanel a {
  padding: 8px 75px 5px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #1C2526;
  display: block;
  transition: 0.3s;
  text-align: left;
}

.sidepanel a:hover {
  color: #f1f1f1;
}



.openbtn {
  position: absolute;
  left: 290px;
  top:0;
  font-size: 20px;
  width: 50px;
  height: 50px;
  z-index: 3;
  cursor: pointer;
  background-color: #f97c29;
  color: #1C2526;
  /*padding: 10px 15px;*/
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menutitle{
  background-color: #f97c29 !important;
  border-right: 0.1px solid lightgray !important;
  position: fixed;
  font-family: 'Lato', Arial, sans-serif;
  display: flex !important;
  z-index: 8!important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-bottom: 0px !important;
  height: 100%;

  width: 5rem !important;
  align-items: flex-end;
}
.menutitle > * {
  margin: 3rem 1.25rem 1rem 0 !important; /* Adjust the value as needed */
}
/* CSS for the icon */
#icons{
    position: fixed;
    font-family: 'Lato', Arial, sans-serif;
    display: flex !important;
    z-index: 8!important;
    left: 0rem;
    height: 40%;
    bottom: -2.5rem !important;
    width: 5rem !important;
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: nowrap;

}

#icons a {
  margin: 9rem 0rem -1rem 0 !important; /* Adjust the margin value as needed */
}
.rightmenu{
  align-items: center;
}
/*
.title{
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 0px 0px 0px 15px;
  width: 100%;
  height: 60px;
  z-index: 8;
  background-color: #f97c29 !important;
  color: #1C2526;
  border: none;
  display: flex;
  align-items: center;
  font-family: 'EduDiatypeRounded', Arial, sans-serif;
}*/



.my-button a {
    margin-right: 10px; /* Add right margin to create space between buttons */
}

.openbtn:hover {
  background-color:#444;
}

.hatch-pattern {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, #000 5px, #000 10px);
  background-size: 10px 10px; /* Adjust the size and spacing of the hatch lines */
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 13px;
  font-family: 'Lato', Arial, sans-serif;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
  padding: 0;
  display: none;
  overflow: hidden;
  background-color: white;
}

.popupIntro{
    background-color: #ffffff;
    width: 600px;
    padding: 30px 50px 20px 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Lato",sans-serif;
    display: none;
    text-align: center;
    z-index: 2;
}



.popupIntro p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
    
}

.popupIntro button{
    display: block;
    width: 130px;
    position: relative;
    margin: 5px auto;
    border-radius: 8px;
    text-align: center;
    background-color: #f97c29;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 0;
    cursor: pointer;
    border-width: 0px; /* Adjust this value as needed */
       border-style: solid; /* Ensures the border is displayed */
}

.popupIntro img {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 8px; /* Apply border radius to the image if needed */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark gray background with opacity */
    display: none; /* Initially hidden */
    z-index: 1;
}

img.logo {
  /* Change color */
  fill: #000000; /* For SVG images that use the fill attribute */
  /* Adjust size */

  width: 80%; /* Set the width */
  /* Additional styles as needed */
}


#logoContainer {
  position: fixed;
  display: flex; 
  left: 0px;
  top:95%;
  background: #fff;
/*  height: calc(100% - 60px);*/
  height: 10%;
/*  bottom: 0px;*/
  padding: 15px 0px 0px 15px;
  width: 340px;
  z-index: 1; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
  justify-content: space-around;
  font-family: 'Lato', Arial, sans-serif;
  border-right: 1px solid gray;


}
.infoSegment{
  z-index: 100;
  width:70%;
  height: 70%;
  left: 15%;
  right: 10%;
  top:10%;
  overflow-y: scroll;
  margin: 0 !important;
  background-color: white !important;
  opacity: 0.9;
}


table {
    border-collapse: collapse;
    width: 100%;
    margin: 0px 0px 5px 0px;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
   font-size: 12px
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


.leftpanel  {
  width: 100%;
  position: fixed;
  z-index: 4;
  padding: 15%;
  height: 100%;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3rem;
  font-family: 
}


body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: steelblue;
  stroke: #000;
  stroke-width: 1px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #000;
}

.axis {
  font: 12px sans-serif;
}
 
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
 
.x.axis path { 
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


    .rotate-90 {
        transform: rotate(90deg);
        filter: brightness(0) invert(1);

    }

#Boxplot_totalPop{
  transition: 1s;
}



#functions {
    background-color: #f97c29 !important;
    position: fixed;
    left: 32.8rem;
    bottom: 0.7rem;
    /* height: calc(100% - 60px); */
    /* height: 6.3rem; */
    /* width: 30.5rem; */
    border-radius: 10px;
    display: flex;
    padding: 8.7px;
    flex-direction: column;
}

.first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.second-row {
    display: inline-flex;
    margin-top: 10px; /* Adjust as needed */
}

.axisWhite line{
  stroke: #555;
}

.axisWhite path{
  stroke: white;
}

#slider-1{
  width: 97%;
  padding: 6px 14px 0px 15px;
}

#tgl{
width: 110px;

}

    .ui.tiny.toggle.button.weekday {
        background-color: white; /* Blue color for weekday */
        color: rgba(0, 0, 0, .6); /* White text color */
    }
    .ui.tiny.toggle.button.weekend {
        background-color: rgb(247, 178, 133); /* Green color for weekend */
        color: rgba(0, 0, 0, .6); /* White text color */
    }

#intervalButton{
  padding: 0px 0px 0px 5px;
}

#dowButton{
  padding: 0px 0px 0px 2px;
}

#styleButton{
  padding: 0px 7px 0px 0px;
}

.ui.button{
  background: white;
}

.ui.button:hover {
  background-color: rgb(247, 178, 133);
  color: black;
}